{% macro clip_card(clip) %}
<div class="card col-xl-4 border-0">
    <div class="card-body mb-3">
        <a class="font-custom" data-bs-toggle="modal" data-bs-target="#clip{{ clip.id }}">{{ clip.title }}</a>
        <div class="mt-2">
            <a class="me-2" onclick="copyClip({{ clip.id }})">
                <i class="bi bi-clipboard" id="copyBtn{{ clip.id }}"></i>
            </a>
            <a href="{{ url_for('download_clip', id_=clip.id) }}" class="me-2"><i class="bi bi-download"></i></a>
            <a class="me-2" href="{{ url_for('editor', id_=clip.id) }}"><i class="bi bi-pen"></i></a>
            <a onclick="toggleDiv('delete' + {{ clip.id }})" class="text-danger me-2"><i class="bi bi-trash3"></i></a>
            <a href="{{ url_for('delete_clip', id_=clip.id) }}" class="text-danger font-custom" id="delete{{ clip.id }}" style="display: none">Delete?</a>
        </div>
    </div>
</div>

<div class="modal" id="clip{{ clip.id }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-3">
            <p style="white-space: pre-wrap">{{ clip.content }}</p>
        </div>
    </div>
</div>

<textarea id="clipContent{{ clip.id }}" style="display: none">{{ clip.content }}</textarea>
{% endmacro %}

{% macro clip_create_form() %}
<form method="POST" action="{{ url_for('create_clip') }}" class="input-group">
    <input autocomplete="off" class="input-custom" placeholder="Title" name="title">
    <button type="submit" class="btn-custom"><i class="bi bi-plus-lg"></i><i class="bi bi-clipboard-fill"></i> Create Clip</button>
</form>
{% endmacro %}

{% macro clip_editor(clip) %}
<form method="POST" action="{{ url_for('editor', id_=clip.id) }}">
    <input autocomplete="off" class="input-custom w-100 mb-3" placeholder="Title" name="title" value="{{ clip.title }}">
    <textarea class="input-custom w-100 mb-3" placeholder="Content" name="content" rows="20">{{ clip.content }}</textarea>
    <button type="submit" class="btn-custom w-100"><i class="bi bi-save"></i> Save</button>
</form>
{% endmacro %}