<html>
    <head>
        <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <nav class="navbar navbar-expand border-bottom">
        <div class="container-fluid">
            <a href="{{ url_for('index') }}" class="navbar-brand"><i class="bi bi-code-slash"></i></a>
            <a class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navContents">
                <i class="bi bi-list"></i>
            </a>
            <div class="collapse navbar-collapse" id="navContents">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" data-bs-target="#themes" data-bs-toggle="dropdown"><i class="bi bi-palette-fill"></i></a>
                        <div class="dropdown-menu dropdown-menu-end text-center" id="themes">
                            <a class="dropdown-item" onclick="changeTheme('light')">Light</a>
                            <a class="dropdown-item" onclick="changeTheme('dark')">Dark</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-5" id="pageContent">
        {% block body %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </div>
</html>
