{% extends "base.html" %}
{% block body %}
<title>ClipBin</title>
<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a onclick="getClips()" class="navbar-brand"><i class="bi bi-paperclip"></i></a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a id="dark" onclick="setLight()" class="nav-link"><i class="bi bi-sun-fill"></i></a>
					<a id="light" onclick="setDark()" class="nav-link"><i class="bi bi-moon-fill"></i></a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div id="index"></div>
{% endblock %}
