{% macro clip_card(clip_) %}
<div class="col-xl-12">
    <div class="border-bottom p-3 mb-3 row">
        <a onclick="toggleDiv('viewClip' + {{ clip_.id_ }})" class="fw-bold col">{{ clip_.name_ }}</a>
        <div class="col small text-muted fst-italic">Created {{ clip_.date_created.strftime('%-m/%-d/%y') }}</div>
        <div class="col">
            <a class="float-end" onclick="copyClip({{ clip_.id_ }})"><i class="bi bi-clipboard" id="copyClip{{ clip_.id_ }}"></i></a>
            <a class="float-end me-2" onclick="toggleDiv('editClip' + {{ clip_.id_ }})"><i class="bi bi-pen"></i></a>
            <a class="float-end text-danger me-2" onclick="toggleDiv('deleteClip' + {{ clip_.id_ }})"><i class="bi bi-trash3"></i></a>
            <a class="float-end text-danger badge" id="deleteClip{{ clip_.id_ }}" style="display: none" href="{{ url_for('clip_delete', id_=clip_.id_) }}">Delete?</a>
        </div>
    </div>
    <div id="editClip{{ clip_.id_ }}" style="display: none;">
        {{ edit_clip_form(clip_) }}
    </div>
    <div id="viewClip{{ clip_.id_ }}" style="display: none; white-space: pre-wrap;" class="p-5 font-monospace">{{ clip_.content }}</div>
</div>

{% endmacro %}

{% macro add_clip_form() %}
<form method="POST" action="{{ url_for('add_clip') }}">
    <input class="form-control mb-3" placeholder="Name" name="name_" autocomplete="off" required>
    <textarea rows="20" class="form-control w-100 font-monospace mb-3" placeholder="Content" name="content" autocomplete="off" required></textarea>
    <button type="submit" class="btn btn-outline-success w-100">Add Clip</button>
</form>
{% endmacro %}

{% macro edit_clip_form(clip_) %}
<form method="POST" action="{{ url_for('edit_clip', id_=clip_.id_) }}">
    <input class="form-control mb-3" placeholder="Name" name="name_" autocomplete="off" required value="{{ clip_.name_ }}">
    <textarea rows="20" class="form-control w-100 font-monospace mb-3" placeholder="Content" name="content" autocomplete="off" required>{{ clip_.content }}</textarea>
    <button type="submit" class="btn btn-outline-success w-100"><i class="bi bi-save"></i> Save</button>
</form>
{% endmacro %}
