:root,
html[data-theme="light"] {
  --primary-bg: #cccccc;
  --primary-txt: #1a1a1a;
  --btn-color: #1a1a1a;
  --btn-hover-text: #cccccc;
}

html[data-theme="dark"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;
  --btn-color: #cccccc;
  --btn-hover-text: #1a1a1a;
}

html[data-theme="light-red"] {
  --primary-bg: #cccccc;
  --primary-txt: #810000;
  --btn-color: #810000;
  --btn-hover-text: #cccccc;
}

html[data-theme="light-orange"] {
  --primary-bg: #cccccc;
  --primary-txt: #8f5d00;
  --btn-color: #8f5d00;
  --btn-hover-text: #cccccc;
}

html[data-theme="light-green"] {
  --primary-bg: #cccccc;
  --primary-txt: #145614;
  --btn-color: #145614;
  --btn-hover-text: #cccccc;
}

html[data-theme="light-blue"] {
  --primary-bg: #cccccc;
  --primary-txt: #3535bd;
  --btn-color: #3535bd;
  --btn-hover-text: #cccccc;
}

html[data-theme="light-indigo"] {
  --primary-bg: #cccccc;
  --primary-txt: indigo;
  --btn-color: indigo;
  --btn-hover-text: #cccccc;
}

html[data-theme="light-violet"] {
  --primary-bg: #cccccc;
  --primary-txt: #744174;
  --btn-color: #744174;
  --btn-hover-text: #cccccc;
}

html[data-theme="dark-red"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #ff6060;
  --btn-color: #ff6060;
  --btn-hover-text: #1a1a1a;
}

html[data-theme="dark-orange"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #ffb62d;
  --btn-color: #ffb62d;
  --btn-hover-text: #1a1a1a;
}

html[data-theme="dark-green"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #53bb53;
  --btn-color: #53bb53;
  --btn-hover-text: #1a1a1a;
}

html[data-theme="dark-blue"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #8484ff;
  --btn-color: #8484ff;
  --btn-hover-text: #1a1a1a;
}

html[data-theme="dark-indigo"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #9472ac;
  --btn-color: #9472ac;
  --btn-hover-text: #1a1a1a;
}

html[data-theme="dark-violet"] {
  --primary-bg: #1a1a1a;
  --primary-txt: violet;
  --btn-color: violet;
  --btn-hover-text: #1a1a1a;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  color: inherit;
  border-color: var(--btn-color);
  letter-spacing: 2px;
}

.btn:hover,
.btn.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-text);
  border-color: transparent;
}

::placeholder {
  color: var(--primary-txt) !important;
  opacity: 50% !important;
  letter-spacing: 2px !important;
}

.dropdown-menu {
  background-color: var(--primary-bg);
  border-color: var(--primary-txt);
}

.dropdown-item {
  color: var(--primary-txt);
  letter-spacing: 2px;
}

.dropdown-item:hover {
  background-color: var(--primary-txt);
  color: var(--primary-bg);
}

.between {
  display: flex;
  justify-content: space-between;
}

.form-control,
.form-control:focus {
  background-color: transparent;
  border-color: var(--primary-txt);
  color: var(--primary-txt);
}

hr {
  border-style: dotted !important;
}

.badge {
  color: var(--primary-txt);
  border: 1px solid var(--primary-txt);
  font-weight: unset;
  letter-spacing: 1px;
  padding: 3px 10px;
}

.border-start {
  border-left: 1px dotted var(--primary-txt) !important;
}

.selected,
.hover:hover {
  background-color: var(--primary-txt);
  color: var(--primary-bg);
}

textarea {
  resize: none;
}
