:root,
html[data-theme="light"] {
  --primary-bg: #e2d0b4;
  --primary-txt: #1a1a1a;
  --btn-color: #26404b;
  --btn-hover-text: #e2d0b4;
}

html[data-theme="dark"] {
  --primary-bg: #26404b;
  --primary-txt: #cccccc;
  --btn-color: #e2d0b4;
  --btn-hover-text: #26404b;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

a,
a:hover {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.btn {
  background-color: transparent;
  border-color: var(--btn-color);
  color: var(--btn-color);
  letter-spacing: 2px;
}

.btn:hover {
  background-color: var(--btn-color);
  border-color: transparent;
  color: var(--btn-hover-text);
}

.between {
  display: flex;
  justify-content: space-between;
}

.form-control,
textarea {
  background-color: var(--primary-bg) !important;
  color: var(--primary-txt) !important;
  border-color: var(--primary-txt);
}

.selected {
  border-bottom: 1px dotted;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-txt);
}
