a, a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

body, .modal-content {
    background-color: #1a1a1a;
    color: white;
}

.form-control, .form-control:focus {
    background-color: inherit;
    color: inherit;
    border: 0;
}