:root,
html[data-theme="light"] {
  --primary-bg: #cccccc;
  --primary-txt: #1a1a1a;
  --btn-color: #1a1a1a;
  --btn-hover: #cccccc;
}

html[data-theme="dark"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;
  --btn-color: #cccccc;
  --btn-hover: #1a1a1a;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.btn {
  border-color: var(--btn-color);
  color: var(--btn-color);
  font-size: small;
}

.btn:hover {
  border-color: transparent;
  background-color: var(--btn-color);
  color: var(--btn-hover);
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.col-3 {
  border-right: 1px dotted;
}

.selected,
.clip-item:hover {
  border-bottom: 1px dotted;
  border-top: 1px dotted;
}

.form-control,
.form-control:focus {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
  border-color: var(--primary-txt);
  font-size: small;
}

::placeholder {
  color: var(--primary-txt) !important;
  opacity: 50% !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

textarea {
  resize: none;
}

.text-warning {
  color: #c06a00 !important;
}

.btn,
.font-custom {
  letter-spacing: 1px;
}
