:root, html[data-theme="dark"] {
    --primary-bg: #1a1a1a;
    --primary-txt: white;
}

html[data-theme="light"] {
    --primary-bg: white;
    --primary-txt: #1a1a1a;
}

a, a:hover, .nav-link, .nav-link:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

body, .form-control, .form-control:focus {
    background-color: var(--primary-bg);
    color: var(--primary-txt);
}

.btn, .nav-link, ::placeholder, .font-custom {
    letter-spacing: 2px;
}

.selected {
    border-bottom: 1px dotted;
    border-top: 1px dotted;
}

#content {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 0.9em;
}
