:root, html[data-theme='light'] {
	--primary-bg: #cccccc;
	--primary-txt: #1a1a1a;
}

html[data-theme='dark'] {
	--primary-bg: #1a1a1a;
	--primary-txt: #cccccc;
}

a, a:hover, .nav-link, .nav-link:hover {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

body, nav, .form-control, .form-control:focus {
	background-color: var(--primary-bg);
	color: var(--primary-txt);
}

.heading, .btn, .nav-link, .badge, ::placeholder {
	letter-spacing: 2px;
}

.badge {
	color: inherit;
	border: 1px solid;
}

.form-control {
	border: 1px solid;
}

.selected {
	background-color: var(--primary-txt);
	color: var(--primary-bg);
	border-radius: 5px;
}
